body
  padding-top: 70px

.selected
  border: 1px solid black
  
.team
  padding: 5px
  
.teams
  margin-left: 5px
  
.new-team
  margin-left: 5px
  
.team-lead
.vacation-fromto
.vacation-prio
  margin-left: 5px
  
.vacation
  background: #ddd
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px