body
  padding-top: 70px

[ng-click]
[data-ng-click]
[x-ng-click]
  cursor: pointer

.selected
  border: 1px solid black

.left-space-5
  margin-left: 5px

.left-space-10
  margin-left: 10px
    
.accept-request
  margin-right: 3px
  margin-left: 3px

.team
  padding: 5px
  
.vacation-name
.team-overview
  margin-left: 5px
  
.teams
.new-team
.team-lead
.vacation-fromto
.vacation-prio
.vacation-deny-reason
  margin-left: 5px

.myteam  
.vacation
  background: #ddd
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  
.vacation-accepted
  background: #B8E297
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)

.vacation-denied
  background: #FFC3AA
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)

.team
  padding: 5px
  margin-bottom: 5px
  background-color: #e3e3e3
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
