body
  padding-top: 70px

.selected
  border: 1px solid black
  
.team
  padding: 5px
  
.teams
.new-team
.team-lead
.vacation-fromto
.vacation-prio
  margin-left: 5px

.myteam  
.vacation
  background: #ddd
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  
.vacation-accepted
  background: #B8E297
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)

.vacation-denied
  background: #FFC3AA
  margin-top: 3px
  margin-bottom: 3px
  padding: 5px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)

.team
  padding: 5px
  margin-bottom: 5px
  background-color: #e3e3e3
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
