.container-fluid
	.row
		.col-md-3
			.panel.panel-primary
				.panel-heading My Teams
				.panel-body
					ul.teams.list-unstyled
						li.myteam(ng-repeat="team in teamsWithLead")
							strong.team-name {{team.name}}
								i.fa.fa-star.left-space-5(ng-if="member._id == team.lead._id", title="I am team lead here")
							.team-lead {{team.lead.name}}

			.panel.panel-primary
				.panel-heading My pending requests
				.panel-body
					ul.vacations.list-unstyled
						li.vacation(ng-repeat="vacation in pendingRequests")
							strong.vacation-name {{vacation.name}}
							i.fa.fa-lg.fa-trash-o.pull-right(ng-click="deleteRequest(vacation)", title="Remove request")
							.vacation-fromto {{vacation.from | date : format}} - {{vacation.to | date : format}}
							.vacation-prio 
								rating(ng-model="vacation.prio", max="maxPrio", readonly)
							span.left-space-5 Response Overview
								ul.members
									li(ng-repeat="t in teams") 
										span.text-muted {{ t.name }}
										i.left-space-5.fa.fa-lg.fa-thumbs-o-down(ng-if="vacation.responses[t._id].state=='denied'", title="Denied by team")
										i.left-space-5.fa.fa-lg.fa-thumbs-o-up(ng-if="vacation.responses[t._id].state=='accepted'", title="Accepted by team")
										i.left-space-5.fa.fa-lg.fa-clock-o(ng-if="!vacation.responses[t._id] || vacation.responses[t._id].state=='pending'", title="Waiting for team approval")

			.panel.panel-primary
				.panel-heading My denied requests
				.panel-body
					ul.vacations.list-unstyled
						li.vacation-denied(ng-repeat="vacation in deniedRequests")
							strong.vacation-name {{vacation.name}}
							.vacation-fromto {{vacation.from | date : format}} - {{vacation.to | date : format}}
							.vacation-prio 
								rating(ng-model="vacation.prio", max="maxPrio", readonly)
							.vacation-deny-reason.text-danger(ng-repeat="denyReasons in vacation.denyReasons track by id")
								strong {{ denyReasons.team }}:
								span.left-space-5 {{ denyReasons.reason }}

			.panel.panel-primary
				.panel-heading My successful requests
				.panel-body
					ul.vacations.list-unstyled
						li.vacation-accepted(ng-repeat="vacation in acceptedRequests")
							strong.vacation-name {{vacation.name}}
							.vacation-fromto {{vacation.from | date : format}} - {{vacation.to | date : format}}
							.vacation-prio 
								rating(ng-model="vacation.prio", max="maxPrio", readonly)
							
		.col-md-9
			.panel.panel-info
				.panel-heading New Request
				.panel-body
					.col-md-2
						.form-group
							label(for='name') Title 
							input#name.form-control(type='text', placeholder='Title', ng-model="newRequestName") 
					.col-md-3
						.form-group
							label(for='from') Start 
							.input-group
								input#from.form-control(type="text", datepicker-popup="{{format}}", ng-model="vacationFrom", is-open="openedFrom", min-date="minDate", max-date="maxDate", datepicker-options="dateOptions", close-text="Close")
								span.input-group-btn
									button.btn.btn-default(ng-click="openFrom($event)")
										i.glyphicon.glyphicon-calendar
					.col-md-3
						.form-group
							label(for='to') End
							.input-group
								input#to.form-control(type="text", datepicker-popup="{{format}}", ng-model="vacationTo", is-open="openedTo", min-date="minDate", max-date="maxDate", datepicker-options="dateOptions", close-text="Close")
								span.input-group-btn
									button.btn.btn-default(ng-click="openTo($event)")
										i.glyphicon.glyphicon-calendar
					.col-md-2
						.form-group
							label(for='prio') Priority 
							rating#prio.form-control(ng-model="prio", max="maxPrio", on-hover="hoveringOver(value)", on-leave="overStar = null")
					.col-md-2
						.form-group
							label Save
							button.btn.btn-primary.form-control(ng-click="createRequest()", ng-disabled="!newRequestName")
								i.glyphicon.glyphicon-plus

			.panel.panel-info
				.panel-heading Team Schedule
				.panel-body
					#teamCalendar.calendar(ui-calendar="calendarConfig.calendar", ng-model="requestEventSources", calendar="teamCalendar")
