.container-fluid
	.row
		.col-md-4
			.panel.panel-primary
				.panel-heading Teams
				.panel-body
					ul.teams.list-unstyled
						li.team(ng-repeat="team in teams", ng-class="{'selected':team.selected}", ng-click="selectTeam(team)")
							strong.team-name {{team.name}}
							i.pull-right.fa.fa-lg.fa-trash-o(ng-click="deleteTeam(team)")
							.team-lead {{team.lead.name}}

			.panel.panel-info
				.panel-heading Create Team
				.panel-body
					form.new-team
						.form-group
							label(for='name') Name 
							input#newteamname.form-control(type='text', placeholder='Name', ng-model="newteamname") 
							p.help-block(ng-if="teamNameNotUnique") Team with this name already exists
						.form-group
							label(for='lead') Lead 
							input#lead.form-control(type='text', placeholder='Lead', ng-model="newteamlead", typeahead="lead as lead.name for lead in employees | filter:$viewValue | limitTo:10")
						button.btn.btn-primary.form-control(ng-click="createTeam(newteamname, newteamlead)", ng-disabled="teamNameNotUnique")
							span.glyphicon.glyphicon-plus


		.col-md-8
			.panel.panel-primary
				.panel-heading Members
				.panel-body
					ul.list-group
						li.list-group-item(ng-repeat="member in currentTeam.members | orderBy:'name'")
							span {{member.name}}
							button.btn.btn-danger.btn-xs.pull-right(ng-click="removeMember(member)")
								i.fa.fa-lg.fa-trash-o
					.col-md-10
						input#newmembername.form-control(type="text", ng-model="newMember", typeahead="member as member.name for member in employees | filter:$viewValue | limitTo:10", placeholder="New team member...")
					.col-md-2
						button.btn.btn-primary.btn-sm.form-control(ng-click="addMember(newMember)")
							span.glyphicon.glyphicon-plus
