.container-fluid
	.row
		.col-md-3
			.panel.panel-primary
				.panel-heading My Teams
				.panel-body
					ul.teams.list-unstyled
						li.myteam(ng-repeat="team in teams")
							strong.team-name {{team.name}}
							.team-lead {{team.lead.name}}

			.panel.panel-primary
				.panel-heading My pending requests
				.panel-body
					ul.vacations.list-unstyled
						li.vacation(ng-repeat="vacation in requests")
							strong.vacation-name {{vacation.member.name}}
							span.glyphicons.glyphicons-thumbs-down.pull-right
							span.glyphicons.glyphicons-thumbs-up.pull-right
							.vacation-name {{vacation.name}}
							.vacation-fromto {{vacation.from | date : format}} - {{vacation.to | date : format}}
							.vacation-prio 
								rating(ng-model="vacation.prio", max="maxPrio", readonly)

		.col-md-9
			.panel.panel-primary
				.panel-heading Team schedules
				.panel-body
					h1 todo